@*@model List<ShopListViewModel>*@
@model ViewModel
<partial name="_PartialNavbar"></partial>
<div class="row">
	<partial class="col-2" name="_PartialSlidebar"></partial>

	<div class="col-9 mt-3">
		<div class="container mt-2">

			<ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab2" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active"
							id="pills-home-tab2"
							data-mdb-toggle="pill"
							data-mdb-target="#pills-home2"
							type="button"
							role="tab"
							aria-controls="pills-home"
							aria-selected="true">
						Ürünler
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link"
							id="pills-profile-tab2"
							data-mdb-toggle="pill"
							data-mdb-target="#pills-profile2"
							type="button"
							role="tab"
							aria-controls="pills-profile"
							aria-selected="false">
						Kategoriler
					</button>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent2">
				<div class="tab-pane fade show active"
					 id="pills-home2"
					 role="tabpanel"
					 aria-labelledby="pills-home-tab2">


					<ul class="nav justify-content-end">

						<li class="nav-item">
							<a class="btn btn-success mb-2" asp-area="Admin" asp-controller="Shop" asp-action="AddProduct">Ürün Ekle</a>
						</li>
					</ul>

					<table class="table table-hover mt-3 list" id="productList">
						<thead class="table-info mb-1">
							<tr>
								<th>Adı</th>
								<th>Kategori</th>
								<th>Açıklama</th>
								<th>Fiyatı</th>
								<th>Aksiyon</th>
							</tr>
						</thead>
						@foreach (var product in Model.Products)
						{
							<tr>
								<td>@product.ProductName</td>
								<td>@product.CategoryName</td>
								<td>@product.ProductDescription</td>
								<td>@product.ProductPrice</td>
								<td>
									<a asp-area="Admin" asp-controller="Shop" asp-action="ProductEdit" asp-route-id="@product.ProductId" class="btn btn-warning btn-sm btn-rounded">Düzenle</a>
									<a asp-area="Admin" asp-controller="Shop" asp-action="ProductDelete" data-id="@product.ProductId" class="btn btn-danger btn-sm btn-rounded delete">Sil</a>
								</td>
							</tr>
						}
						<tbody>
							
						</tbody>
					</table>



				</div>
				<div class="tab-pane fade"
					 id="pills-profile2"
					 role="tabpanel"
					 aria-labelledby="pills-profile-tab2">

					<ul class="nav justify-content-end">

						<li class="nav-item">
							<a class="btn btn-success mb-2" asp-area="Admin" asp-controller="Shop" asp-action="AddCategory">Kategori Ekle</a>
						</li>
					</ul>
					<table class="table table-hover mt-3 list" id="categoryList">
						<thead class="table-info mb-1">
							<tr>
								<th>Adı</th>
								<th>Aksiyon</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var category in Model.Categories)
							{
								<tr>
									<td>@category.Name</td>
									<td>
										<a asp-area="Admin" asp-controller="Shop" asp-action="CategoryEdit" asp-route-id="@category.Id" class="btn btn-warning btn-sm btn-rounded">Düzenle</a>
										<a asp-area="Admin" asp-controller="Shop" asp-action="CategoryDelete" data-id="@category.Id" class="btn btn-danger btn-sm btn-rounded delete">Sil</a>
									</td>

								</tr>
							}
						</tbody>
					</table>
				</div>

			</div>

		</div>
	</div>
</div>
@section Scripts
	{
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.1/b-2.3.2/sl-1.5.0/datatables.min.js"></script>

	<script>
		$('#categoryList .delete').click(function (e) {
			e.preventDefault();
			var categoryId = $(this).data('id');
			Swal.fire({
				title: 'Emin misin?',
				text: "Dikkat! Ürün Silinecektir.",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Onaylıyorum.',
				cancelButtonText: "İptal"
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: '/admin/Shop/CategoryDelete/' + categoryId,
						method: "GET"
					}).done(function () {
						Swal.fire(
							'Silindi!',
							'Ürün Başarıyla Silindi.',
							'success'
						).then(() => { window.location.reload() });
					}).fail(function () {
						Swal.fire(
							'Hata!',
							'Bir hata oluştu, ürün silinemedi.'
						)
					});
				}
			})
		})


		$(document).ready(function () {
			$('#categoryList').DataTable({
				pageLength: 10,
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json',
				}
			});
		});



		$('#productList .delete').click(function (e) {
			e.preventDefault();
			var productId = $(this).data('id');
			Swal.fire({
				title: 'Emin misin?',
				text: "Dikkat! Ürün Silinecektir.",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Onaylıyorum.',
				cancelButtonText: "İptal"
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: '/admin/Shop/ProductDelete/' + productId,
						method: "GET"
					}).done(function () {
						Swal.fire(
							'Silindi!',
							'Ürün Başarıyla Silindi.',
							'success'
						).then(() => { window.location.reload() });
					}).fail(function () {
						Swal.fire(
							'Hata!',
							'Bir hata oluştu, ürün silinemedi.'
						)
					});
				}
			})
		})


		$(document).ready(function () {
			$('#productList').DataTable({
				pageLength: 10,
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json',
				}
			});
		});

	</script>
}
